
// 2. QuestionText  
// ==========================================================================


.questionText{
    padding: 10px 0px; 
    box-sizing: border-box; 
    background-color: white; 
}

.lib{
    text-align: justify; 
}

.text{
    margin: 20px 0px 0px 0px; 
    border-bottom: 1px solid black;
}


 
.MessageError{
    color: #b94a48; 
    background-color: #f2dede; 
    padding: 5px 10px
}
