// 1. Information
// ==========================================================================

.information{
    display: flex; 
    padding: 10px 0px; 
    flex-direction: row; 
    border-bottom: 1px solid grey;
    background-color: #FFF; 
}

.lib{
  width : 78%; 
  margin : 0px 2% 0px 0px; 
}
